#HomeContainer {
  height: 100%;
  overflow: auto;
}

.homeContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  box-sizing: border-box;
}

.customerItemContainer {
  width: 100%;
  height: 90px;
  margin: 5px;
  border-radius: 5px;
  border: 0.5px solid #d8d8d8;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: transparent;
}

.customerName{
  text-transform: capitalize;
}
@media only screen and (min-width: 850px) {

  .customerItemContainer {
    width: calc(50% - 10px);
  }
}
